.header {
    padding:5px;
    text-align: center;
    background:blue;
    color: white;
    font-size: 20px;
  }
  #singledayforecast{
    border: 2px solid black;
  }
  #parent_div{
    display: flex;
  }
  #info_div{
    
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
  }
  #fivedayforecast
  {
    padding-top:70px;
}
